@import "variables";

.cart_container {

  p,
  h1,
  h2,
  h3 {
    margin: 0;
  }    

  .cart {
    max-width: 600px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $mobile_width) {
      height: 100vh;
      width: 100vw;
    }

    .cart_top {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .close {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;

        p {
          cursor: pointer;
        }
      }

      .cart_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: $mobile_width) {
          flex-direction: column;
          gap: 0;
          line-height: 1;
        }

        h1 {
          font-size: 4em;
        }

        .title_bottom {
          -webkit-text-stroke: 1px white;
          color: black;

        }
      }

      .cards_container {
        max-height: 320px;
        overflow-y: scroll;

        .card_item {
          border: 1px solid white;
          display: flex;
          flex-direction: row;
          gap: 5px;
          width: 100%;
          min-height: 180px;
          max-height: 220px;
          padding: .5rem;
          max-height: 220px;

          .image_container {
            background-color: gray;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .card_data {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card_data_titles {
              p {
                opacity: .5;
              }

              @media screen and (max-width: $s_mobile_width) {
                font-size: .8em;
              }
            }

            .bottom_card {
              display: flex;
              flex-direction: column;
              gap: 10px;

              @media screen and (max-width: $mobile_width) {
                p {
                  font-size: 12px;
                }
              }

              .quantity {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                .quantity_counter {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 10px;
                  border: 1px solid white;
                  padding: 5px;
                  border-radius: 20px;
                  .btns{
                    cursor: pointer;
                    &:hover, &:active{
                      color: yellow;
                    }
                  }
                }
              }

              .size_price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: $mobile_width) {
                  flex-direction: column;
                  align-items: flex-start;
                  gap: .5rem;
                }

                .sizes {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 1rem;

                  @media screen and (max-width: $mobile_width) {
                    flex-direction: column;
                    gap: 0;
                  }

                  .sizes_options {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    height: 28px;

                    span {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      padding: 4px;
                      width: 28px;
                      height: 28px;
                      border-radius: 40px;
                      cursor: pointer;
                      transition: all .3s;

                      &:hover,
                      &:active {
                        border: 1px solid white;
                      }

                      p {
                        font-size: 12px;
                      }
                    }
                  }
                }

                .price {
                  p {
                    font-size: 16px;

                  }
                }
              }
            }
          }
        }


      }

    }


    .cart_bottom{
      border-top: 1px solid white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div{
        padding:1rem;
      }
      @media screen and (max-width: $mobile_width) {
        flex-direction: column;
        border-top: none;
        padding: 0 1.5rem;
        div{
          padding: 0;
        }
      }
      .total_price{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        p{
          font-size: 1.5em;
        }
      }
      .checkout{
        border-left: 1px solid white;
        h1{
          -webkit-text-stroke: .8px white;
          color: black;
        }
        @media screen and (max-width: $mobile_width) {
          padding-top: .5rem;
          border-top: 2px solid white;
          border-left: none;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}