@import "variables";

.header {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    .logo_desk {
      cursor: pointer;
      font-size: 20px;
      @media screen and (max-width: $laptop_width) {
        font-size: 18px;
      }
      @media screen and (max-width: $tablet_width) {
        display: none
      }
      h2{
        margin: 0;
      }
    }

    .logo_mobile {
      display: none;
      cursor: pointer;
      margin: 0;
      @media screen and (max-width:$tablet_width) {
        display: flex;
      }
    }
  }

  .icons_container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width:$tablet_width) {
      display: none;
    }
  }
  .cart{
    border: 1px solid white;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    p{
      font-size: 18px;
      margin: 0;
    }
    @media screen and (max-width: $laptop_width) {
      padding: 1rem 1.5rem;
      p{
        font-size: 16px;
        margin: 0;
      }
    }
    @media screen and (max-width: $mobile_width) {
      padding: .8rem 1rem;
      p{
        font-size: 14px;
        margin: 0;
      }    }

  }
}